body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
    background-color: black;
    color: white;
}

.playerSelection {
    display: flex;
    gap: 15px;
    /* justify-content: center; */
}